@use 'easy-theme' as theme;

.calloutSection {
    width: 100%;
    padding: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 0.2rem;
    background: rgb(var(--theme-primary));
    color: rgb(var(--theme-primary-contrast));
    position: relative;
    overflow: hidden;

    &:hover {
        .calloutSectionMouse {
            transition: opacity 1s, width 1s;
            animation-play-state: running;
        }

        .calloutSectionHeader {
            transform: scale(1.2);
        }
        
        .calloutSectionSubheader {
            transform: scale(1.3);
        }
    }

    &:not(:hover) {
        .calloutSectionMouse {
            transition: opacity 1s, width 1s;
            animation-play-state: paused;
            opacity: 0;
        }
    }
}

.calloutSectionHeader {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .02em;
    z-index: 1;
    transition: .2s .15s ease-out;
    line-height: .8em;
    margin-bottom: 0.5rem;
}

.calloutSectionSubheader {
    font-size: 1rem;
    font-weight: 400;
    z-index: 1;
    transition: .3s .05s ease-out;
}

@keyframes morphShape {
    0% {
        border-radius: 1rem;
        transform: translate(-50%, -50%) rotateZ(45deg);
        width: 20vw;
        height: 20vw;
    }
    25% {
        border-radius: 1rem;
        transform: translate(-50%, -50%) rotateZ(135deg);
        width: 12vw;
        height: 12vw;
    }
    50% {
        border-radius: 50%;
        transform: translate(-50%, -50%) rotateZ(90deg);
        width: 10vw;
        height: 10vw;
    }
    75% {
        border-radius: 50%;
        transform: translate(-50%, -50%) rotateZ(90deg);
        width: 5vw;
        height: 5vw;
    }
    100% {
        border-radius: 1rem;
        transform: translate(-50%, -50%) rotateZ(135deg);
        width: 20vw;
        height: 20vw;
    }
}

.calloutSectionMouse {
    position: absolute;
    width: 15vw;
    height: 15vw;
    transform: translate(-50%, -50%);
    border: .2rem solid rgb(var(--theme-primary-contrast), .5);
    animation: morphShape 5s ease infinite;
    left: 20%;
    top: 5%;
}