@use 'easy-theme' as theme;

.footer {
    width: 100%;
    position: relative;
    border-top: calc(var(--theme-border-thickness) * 2) dashed rgba(var(--theme-contrast), .1);
    background: rgba(var(--theme-contrast), .025);
    padding: 2rem 2rem 3rem;
    color: var(--theme-contrast);
    box-sizing: border-box;

    @include theme.Mobile {
        padding: 2rem 2rem 5rem;
    }
}

.footerTitle {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.footerInfo {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;
    display: block;
    color: rgb(var(--theme-contrast), .75);
    white-space: pre-line;
}

.footerBody {
    font-size: 1rem;
    font-weight: 700;
    color: rgb(var(--theme-primary));
    margin-top: 1rem;
}

.footerInner {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 75rem;
    margin: auto;
}

.footerContent {
    gap: 4rem;
    display: flex;
    margin: auto;
    max-width: 80rem;
}

.footerColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @include theme.Mobile {
        flex-basis: 50%;
    }
}