@use 'easy-theme' as theme;

.fullPage {
    width: 100%;
    height: 90vh;
    height: 90svh;
    position: relative;
    overflow: hidden;
    box-shadow: 0 -.1rem 0 0.1rem rgba(var(--theme-contrast), .1);

    .fullPageInner {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 75rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .fullPageContent {
        z-index: 1;

        @include theme.Mobile {
            display: flex;
            transform: translateY(-7rem);
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
    }
}

@keyframes breathe {
    0% {
        transform: scale(1) rotateZ(2deg);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.1) rotateZ(-1deg);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotateZ(2deg);
        opacity: 0.5;
    }
}

.fullPageBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: breathe 30s ease infinite;
}

.fullPageFeature {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding: .5rem;

    & > p {
        font-size: 0.8rem;
        font-weight: 400;
        margin-bottom: 1rem;
        color: rgb(var(--theme-contrast), .75);
    }

    @include theme.Mobile {
        right: auto;
        transform: translateY(-5rem);
    }
}

.fullPageNote {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    padding: 1rem;
    border-bottom: none;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;

    @include theme.Mobile {
        left: auto;
        bottom: 0.5rem;
    }

    small {
        font-size: 0.7rem;
        font-weight: 400;
        color: rgb(var(--theme-primary));
    }

    span {
        font-size: 1rem;
        font-weight: 700;
    }
}