@use 'easy-theme' as theme;

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=auto');

:root {
    color-scheme: light dark;
    font-family: 'Gabarito', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    --theme-primary: 221, 19, 100;
    --theme-secondary:221, 180, 19;
    --theme-primary-contrast: 249, 255, 254;
    --theme-background: 249, 255, 254;
    --theme-contrast: 16, 27, 25;
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-primary: 221, 19, 100;
        --theme-secondary: 221, 180, 19;
        --theme-primary-contrast: 249, 255, 254;
        --theme-background: 20, 27, 25;
        --theme-contrast: 249, 255, 254;
    }
}

::selection {
    background: rgb(var(--theme-primary));
    color: rgb(var(--theme-contrast));
}

html, body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(var(--theme-background));
}