---
import "../reset.scss";
import "../styles.scss";
import myApp from "../app";
import { colors } from "../components/colour-picker.ts";
import { hexToRgb, shiftHue } from "../lib/utils";

const path = Astro.url.pathname;
const theme = Astro.cookies.get("theme")?.value || "#dd1364";
console.log("Hello", theme);

const app = myApp({ path, theme })!;
const primary = hexToRgb(theme);
const secondary = shiftHue(hexToRgb(theme), 0.2);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Haydn Comley</title>
    <meta name="description" content="Designer & Developer" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body set:html={app.html} id={app.id}>
    <script>
      import myApp from "../app";

      const path = window.location.pathname;
      const theme =
        document.cookie
          .split("; ")
          .find((row) => row.startsWith("theme="))
          ?.split("=")[1] ?? "#dd1364";

      const app = myApp({ path, theme })!;
      app.hydrate(app!.id);
    </script>
  </body>
</html>

<style
  lang="scss"
  define:vars={{ "theme-primary": primary, "theme-secondary": secondary }}
></style>
