---
import "../reset.scss";
import "../styles.scss";
import { myApp } from "../app";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>nicee</title>
  </head>
  <body set:html={myApp!.html} id={myApp!.id!}>
    <script>
      import { myApp } from "../app";
      myApp!.hydrate(myApp!.id);
    </script>
  </body>
</html>
