---
import "../reset.scss";
import "../styles.scss";
import { myApp } from "../app";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Haydn Comley</title>
    <meta name="description" content="Designer & Developer" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body set:html={myApp!.html} id={myApp!.id!}>
    <script>
      import { myApp } from "../app";
      myApp!.hydrate(myApp!.id);
    </script>
  </body>
</html>
