@use 'easy-theme' as theme;

.animatedBar {
    height: 0;
    flex-basis: 5vw;
    transition: 0.25s ease;
    border-radius: .5rem;
    position: relative;

    @include theme.Mobile {
        flex-basis: 10vw;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom right, rgb(var(--theme-primary)), rgb(var(--theme-secondary)));
        border-radius: .5rem;
    }

    &:not(:last-child)::after {
        animation: none;
    }
}

