.button {
    font-family: inherit;
    padding: 0.8rem 1.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    background: rgb(var(--theme-primary));
    background: linear-gradient(to bottom right, rgb(var(--theme-primary)), rgb(var(--theme-secondary)));
    border: none;
    border-radius: 5rem;
    letter-spacing: .03rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 0.1rem 0.6rem rgba(var(--theme-primary), .3);

    transition: .2s ease;

    &::before {
        content: '';
        position: absolute;
        aspect-ratio: 1 / 1;
        width: 100%;
        transform-origin: 50% 50%;
        background-color: rgb(var(--theme-primary-contrast));
        border-radius: 50%;
        transform: scale(0);

        transition: .2s ease;
    }

    span {
        position: relative;
        z-index: 1;
        transition: .2s ease;
        color: rgb(var(--theme-primary-contrast));
    }
    
    &:hover, &:focus {
        cursor: pointer;
        outline: 0.2rem solid rgb(var(--theme-primary));
        box-shadow: 0 0.15rem 2rem rgba(var(--theme-primary), .7);

        &::before {
            transform: scale(1);
            transition: .3s ease;
        }

        span {
            transform: scale(1.075);
            color: rgb(var(--theme-primary));
        }
    }
}