@use 'easy-theme' as theme;

.colourPicker {
    position: fixed;
    inset: 0;
    padding: var(--theme-border-radius);
    border-radius: var(--theme-border-radius) 0 0 var(--theme-border-radius);
    top: auto;
    left: auto;
    transform: translateX(100%);
    bottom: 4.5rem;
    background: rgb(var(--theme-background));
    border-top: solid var(--theme-border-thickness);
    border-left: solid var(--theme-border-thickness);
    border-bottom: solid var(--theme-border-thickness);
    border-color: rgb(var(--theme-primary));
    transition: 0.2s ease;
    visibility: hidden;
}

.colourPickerInner {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: calc(var(--theme-border-radius) * 1);
    justify-content: space-evenly;
}

.colourPickerOpen {
    transform: translateX(0%);
    visibility: visible;
}

.colourPickerItem {
    aspect-ratio: 1 / 1;
    width: calc(var(--theme-border-radius) * 2);
    flex: 1;
    flex-shrink: 0;
    background-color: var(--colour);
    border-radius: var(--theme-border-radius);
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: .05em;
    border: solid var(--theme-border-thickness) var(--colour);
    transition: .2s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.05) rotateZ(0deg);
        box-shadow: 0 0 calc(var(--theme-border-radius) * 0.5) 0 var(--colour);
    }

    &.colourPickerItemSelected {
        color: rgb(var(--theme-primary));
        border-radius: calc(var(--theme-border-radius) * 0.5);
        transform: scale(1.025) rotateZ(45deg);
        box-shadow: 0 0 0 calc(var(--theme-border-thickness) * 1) rgb(var(--theme-background)), 0 0 0 calc(var(--theme-border-thickness) * 2) var(--colour);
    }
}