@use 'easy-theme' as theme;

.logo {
    font-size: 6rem;
    font-weight: 800;
    color: rgb(var(--theme-contrast));

    @include theme.Mobile {
        font-size: 6rem;
        line-height: 0.8em;
    }
}