@use 'easy-theme' as theme;

.nav {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: var(--theme-border-radius);
    background-color: rgba(var(--theme-background), 1);
    border: calc(var(--theme-border-thickness) * 1.5) solid rgb(var(--theme-primary));
    z-index: 5;
    display: flex;
    transition: .2s ease;

    @include theme.Mobile {
        right: 0;
        border-radius: var(--theme-border-radius) 0 0 var(--theme-border-radius);
        border-right: none;
        padding: 0.75rem;
        padding-left: 1rem;

        &::after {
            content: '';
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0, 0);
            pointer-events: none;
            transition: .2s ease;
        }
    
        &[data-is-open="true"] {
            border-color: transparent;

            &::after {
                background-color: rgba(var(--theme-background), .5);
                backdrop-filter: blur(0.5rem);
                pointer-events: auto;
            }
        }
    }
}

.navButton {
    height: 2rem;
    width: 2rem;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        height: 100%;
        width: 100%;
        transition: .2s ease;

        path {
            stroke: rgb(var(--theme-contrast));
            fill: rgb(var(--theme-contrast));
        }

        &:nth-child(2) {
            position: absolute;
            opacity: 0;
        }
    }

    @include theme.NotMobile {
        display: none
    };

    [data-is-open="true"] & {
        svg {
            transform: rotateZ(90deg);

            &:nth-child(1) {
                opacity: 0;
            }

            &:nth-child(2) {
                opacity: 1;
            }
        }
    }
}

.navContent {
    display: flex;
    gap: .5rem;
    z-index: 10;

    @include theme.Mobile {
        position: fixed;
        top: 6rem;
        right: 0;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        border-radius: var(--theme-border-radius) 0 0 var(--theme-border-radius);
        background-color: rgba(var(--theme-background), 1);
        border: calc(var(--theme-border-thickness) * 1.5) solid rgb(var(--theme-secondary));
        border-right: none;
        padding: 1.25rem;
        transform: translateX(100%);
        transition: .2s ease;
        visibility: hidden;

        [data-is-open="true"] & {
            transform: translateX(0%);
            visibility: visible;
        }
    };
}

.navDivide {
    opacity: 0.5;
}