@keyframes breathe {
    0% {
        transform: scale(1) rotate(-1deg);
    }
    50% {
        transform: scale(1.05) rotate(1deg);
    }
    100% {
        transform: scale(1) rotate(-1deg);
    }
}

.projectCard {
    padding: 1rem;
    border-radius: var(--theme-border-radius);
    background-color: rgba(var(--theme-background), 1);
    outline: calc(var(--theme-border-thickness) * 1.5)solid rgba(var(--theme-secondary), 1);
    backdrop-filter: blur(.5rem);
    transform-origin: 50% 50%;
    transition: .1s ease;
    cursor: pointer;
    text-align: left;
    display: flex;
    min-height: 8rem;
    overflow: hidden;
    flex-shrink: 0;
    animation: breathe 3s infinite cubic-bezier(0.25, 0.1, 0.25, 1);

    & > a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &:hover, &:focus-within {
        outline: calc(var(--theme-border-thickness) * 2) solid rgba(var(--theme-primary), 1);
        transform: translateY(-.1rem) scale(1.03);

        .projectCardFeature {
            transform: scale(1.1);
        }

        .projectCardBody {
            color: rgba(var(--theme-contrast), 1);
        }
    }
}

.projectCardContent {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.projectCardTitle {
    font-size: 1.15rem;
    font-weight: 600;
}

.projectCardBody {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(var(--theme-contrast), .75);
}

.projectCardFooter {
    margin-top: auto;
}

.projectCardFeature {
    flex: 1;
    overflow: hidden;
    position: relative;
    margin-left: 1rem;
    transition: .2s ease;
    height: 8rem;
    width: auto;
    aspect-ratio: 1 / 1;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: calc(var(--theme-border-radius) * 0.5);
        object-fit: cover;
    }
}