@use 'easy-theme' as theme;

@keyframes burstIn {
    0% {
        transform: scale(0);
    }
    30% {
        transform:scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.star {
    position: absolute;
    height: 2rem;
    width: 2rem;
    opacity: 0.5;
    transform-origin: 50% 50%;
    transition: .25s ease-out;
    
    &:hover {
        height: 2.5rem;
        width: 2.5rem;
        margin-left: -.5rem;
        margin-top: -.5rem;
        filter: drop-shadow(0 0 0.5rem rgb(var(--theme-primary), .5));
    }
    
    &::after {
        content: '';
        position: absolute;
        transform-origin: 50% 50%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(var(--theme-primary));
        animation: burstIn 0.5s ease forwards;
    }
    
    &.square::after {
        border-radius: 0;
    }

    &.circle::after {
        border-radius: 50%;
    }

    &.triangle::after {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    &.burst::after {
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }

    &:not(:last-child)::after {
        animation: none;
    }

    &:nth-child(2n) {
        opacity: 1;
    }

    &:nth-child(4n) {
        opacity: 0.25;
    }

    &:nth-child(3n)::after {
        background: rgb(var(--theme-secondary));
    }

    &:nth-child(5n)::after {
        background: linear-gradient(to bottom right, rgb(var(--theme-primary)), rgb(var(--theme-secondary)));
    }
}

