@use 'easy-theme' as theme;

.themeWidget {
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    z-index: 5;
    padding: var(--theme-border-radius);
    font-size: 1.2rem;
    font-weight: 400;

    input {
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
        border: none;
        visibility: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
    }

    button {
        z-index: 1;
    }
}